/* For dark background */
div {
  background-color: #000; /* Black background */
}

/* For red text */
div, select, option, button {
  color: red;
}

/* For control widths to be 95% */
select, button {
  width: 95%;
  border: 1px solid red; /* 1px red border */
  margin: 2px; /* 2px apart from other controls */
}

/* To center all controls */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
