body, html {
  font-family: monospace;
  /* ensures the contents fill the whole browser viewport */
  height: 100%;
  width: 100%;
  /* disables ability to scroll*/
  overflow: hidden;
  background-color: black
}
body {
  /* removes a default (white) margin around the body */
  margin: 0px;
  font-size: 2em;
}
/* the outermost application element */
div.canvas {
  width: 100%;
  max-width: 375px;
  height: 100%;
  position: relative; /* needed so that the error box is bounded by the canvas */
}

/* the main views get to occupy 80% of the vertical screen.
Content will be placed from the start. */
div.mainview {
  height: 80%;
  justify-content: start;
}

/* For red text */
select, option, button, div {
  background-color: #000; /* Black background */
  color: red;
  font-size: .9em;
}

/* visual feedback when clicking on a list item */
li[selected] div {
  background-color: red;
  color:black;
}

/* slightly smaller font for error messages */
div.error_view {
  font-size: .8em;
  position: absolute;
  top: 30%;
  width: 70%;
  padding: 18px;
  border: 1px solid red; /* 1px red border */
}

/* gives a visual cue on click */
button {
  color: red;
}

button:active {
  color: #000;
  background-color: red;
}

button[disabled]{
  color: gray;
  border: 1px solid gray;
}

/* For control widths to be 95% */
select, button {
  width: 95%;
  border: 1px solid red; /* 1px red border */
  margin: 2px; /* 2px apart from other controls */
}

/* Default placement: use flex with centered elements
and vertical flow */
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
}
/* the buttons in the tab view should be aligned horizontally */
div.tabview {
  flex-direction: row;
  margin-bottom: 5px;
}

button.tabbutton {
  height: 2em;
  width: 30%;
  padding: 0;
}

button.tabbutton.active {
  border: 3px solid;
}

/* the is_visible attribute controls visibility */
div[is_visible="true"] {
  visibility: visible;
}

div[is_visible="false"] {
  visibility: collapse;
  display: none;
}

div.labeledframe {
  border: 1px solid red;
  margin-top: 12px;
  margin-bottom: 24px;
  padding: 3px;
  color: red;
  box-sizing:border-box
}

div.coordsbox {
  flex-direction: row;
  justify-content: space-between;
}

div.coords {
  flex-direction: column;
  width: 40%;
}

div.coord {
  flex-direction: row;
}

div.framelabel {
  background-color: transparent;
  display: block;
  margin-top: -16px;
  margin-left: 0px;
  width: 90%;
}

span.framelabel {
  /* needed to hide the line behind it */
  background-color: #000;
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
}

div.coordname {
  font-size: 1.1em;
}

div.coordvalue {
  font-size: 1.4em;
}


/* search results styling */
ul.searchresults {
  list-style: none;
  width: 95%;
  height: 60%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0;
}

li.searchresult {
  padding-bottom: 7px;
}

div.searchresultline {
  flex-direction: row;
  font-size: .8em;
}

div.searchresultline .objectname{
  font-size: 1em;
}

/* secondary info gets smaller font */
div.searchresultline .type, div.searchresultline .vmagsrbr{
  flex-direction: row;
  /*font-size: .7em;*/
  padding-left: 5%;
}

div.alignmentpointscontainer {
  margin-top: 8%;
}

.swipeable-list {
  margin-top: 2%;
  font-size: 1.4em;
}

/* reverts to block display to allow text justification */
div.searchresultline div {
  display: block;
  text-align: left;
}
/* search input box styling */

div.searchinput {
  border: 1px solid red;
  margin-top: 12px;
  padding: 3px;
}

.searchinput input, .searchinput input:enabled {
  background: black;
  caret-color: red;
  color: red;
  border: none;
  width: 95%;
  font-size: .9em;
}
