[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"

[dev-packages]
numpy = "*"
sympy = "*"
scipy = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
