[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
astropy = "~=6.1"
sympy = "~=1.13"
pydantic = "~=2.10"
scipy = "~=1.15"
tornado = ">=6.4.2"

[dev-packages]
numpy = "*"
scipy = "*"
sympy = "1.13.3"
ipykernel = "*"
pytest = "*"
requests = "*"
pandas = "*"

[requires]
python_version = "3.10"
